@charset "utf-8";
@import "reset";
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }
$light-green:#76C03B;
$light-green-second:#6FCC1F;
$sick-green:#093E23;

html{
body{
  font-family: 'Noto Sans JP', sans-serif;
  header{
    .header_inner{
      display: flex;
      max-width: 1364px;
      width: 95%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      padding: 17px 0px;
      @include sp{
        padding: 12px 0px 4px;
      }
      .head-logo{
        width: 270px;
        height: 19px;
        @include sp{
          width: 165px;
          height: 11px;
        }
      }
      .btn{
        width:174px;
        @include sp{
          width: 129px;
        }
        .arrow{
          display: block;
          padding: 16px 0px 16px 23px;
          background: linear-gradient(to right, #FF8900,#FFC400);
          color: white;
          font-size: 13px;
          border-radius: 40px;
          position: relative;
          letter-spacing: 0.13em;
          font-weight: bold;
          @include sp{
            font-size: 12px;
            padding: 9px 0px 9px 17px;
          }
          &:hover{
            opacity: 0.8;
            transition: 0.3s;
          }/*hover*/
        }
        .arrow::after {
          content: '';
          display: block;
          width: 8px; /* 矢印の大きさの指定 */
          height: 8px; /* 矢印の大きさの指定 */
          border-top: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
          border-left: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
          transform: rotate(135deg); /* 矢印の角度の指定 */
          position: absolute; /* 矢印の位置の指定 */
          right:24px; /* 矢印の位置の指定 */
          top: 22px; /* 矢印の位置の指定 */ 
          @include sp{
            width: 6px; /* 矢印の大きさの指定 */
            height: 6px; /* 矢印の大きさの指定 */  
            right:14px; /* 矢印の位置の指定 */
            top: 16px; /* 矢印の位置の指定 */ 
          }
        }
      }
    }/*inner*/
  }/*header*/
  .mainvisual{
    &_wrapper{
      position: relative;
      overflow: hidden;
      .slider{
        li{
          img{
            width: 100%;
            height:100%;
          }/*auto*/
        }/*li*/
      }/*ul*/
      #pc_slider{
        display: block;
        @include sp{
          display: none;
        }
      }
      #sp_slider{
        display: none;
        @include sp{
          display: block;
        }
      }
      .mv-text-wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
        img{
          width: 443px;
          height: 31px;
          display: -webkit-flex;
          display: flex;
          margin: 0 auto;
          @include tab{
            width: 350px;
            height: auto;
          }
           @include sp{
            width: 284px;
            height: auto;
          }
        }/*img*/
        .en-text{
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 27px;
          font-weight: bold;
          text-align: center;
          color: #ffffff;
          margin-top: 6.7px;
          line-height: 1.2;
          @include tab{
            font-size: 22px;
          }
          @include sp{
            font-size: 16px;
          }
        }/*en-text*/
        h1{
          font-size: 71px;
          font-weight: 900;
          text-align: center;
          margin-top: 29px;
          margin-bottom: 58px;
          color: #ffffff;
          @include pc{
            font-size: 65px;
          }
          @include tab{
            font-size: 50px;
            margin-top: 18px;
            margin-bottom: 48px;  
          }
          @include sp{
            font-size: 42px;
          }

          span{
            color: $light-green-second;
          }

          .br_sp{
            display: none;
            @include tab{
              display: block;
            }
          }
        }/*h1*/
  .contact-button{
    width:364px;
    margin: 0 auto;
    @include tab{
      width:330px;
    }
    .arrow{
      display: block;
      padding: 23px 0px 22px 44px;
      background: linear-gradient(to right, #FF8900,#FFC400);
      color: white;
      font-size: 20px;
      border-radius: 40px;
      position: relative;
      letter-spacing: 0.13em;
      font-weight: bold;
      letter-spacing: 0.5;
      
      @include tab{
        font-size:18px;
      }

      @include tab{
        padding: 19px 0px 21px 33px;
      }

      &:hover{
        opacity: 0.9;
        transition: 0.3s;
      }/*hover*/

    }

    .arrow::after {
      content: '';
      display: block;
      width: 8px; /* 矢印の大きさの指定 */
      height: 8px; /* 矢印の大きさの指定 */
      border-top: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
      border-left: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
      transform: rotate(135deg); /* 矢印の角度の指定 */
      position: absolute; /* 矢印の位置の指定 */
      right:40px; /* 矢印の位置の指定 */
      top: 33px; /* 矢印の位置の指定 */ 
      
      @include sp{
        top:29.7px;
      }

    }
  }
    }/*text-wrap*/

.scroll-sign{
  position: absolute;
  left: 50%;
  bottom: 54px; /*下線の上下位置調整*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  -ms-transform: translateX(-50%);
  z-index: 2;
  @include pc{
    bottom: 30px; /*下線の上下位置調整*/
  }

  @include tab{
    display: none;
  }

    .scroll {
      position: relative;
      display: inline-block;
      font-size: 15px;
      height: 20px;
      line-height: 20px;
      color: white;
      font-weight: bold;
      font-family: 'Roboto Condensed', sans-serif;

    }
    
    .scroll::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -55px;
      width: 1px;
      height: 47px;
      margin: auto;
      background-color: #FFFFFF;
      @include pc{
        height: 30px;
        bottom: -35px;
      }
    }
  }


    }/*mainvisual-wrapper*/

    .mainvisual_wrapper::before {
      width:100%;
      height:100%;
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.25);
    }


  }/*mainvisual*/


  .service{
    padding-bottom: 80px;
    padding-top: 104px;
    background-color: #FAFAFA;

    @include sp{
      padding-top: 54px;
      padding-bottom: 53px;
    }

    &_wrapper{
      h1{
        font-size: 36px;
        font-weight: bold;
        line-height: 1.6;
        text-align: center;
        color: #414141;

        @include sp{
          font-size: 21px;
        }

        .sp_br{
          display: none;
          @include sp{
            display: block;
          }
        }
        
        .light-green-span{
          color:$light-green;
        }

      }/*h1*/

      .service-box{
        background-image: url(../img/arrow-circle.png);
        background-repeat: no-repeat;
        background-size: 1000px 900px;
        background-position: center;
        margin-top: 74.8px;
        padding-bottom: 93px;

        @include pc{
          background-size: 95% 100%;
        }

        @include sp{
          background-image: url(../img/arrow-circle-sp.png);
          padding-bottom: 57px;
          margin-top: 53px;
          background-size: 90% 100%;
        }

        h2{
          font-size: 42px;
          font-weight: bold;
          text-align: center;
          padding-top: 123px;
          color: $sick-green;

          @include pc{
            padding-top: 100px;
          }

          @include tab{
            font-size: 30px;
          }

          @include sp{
            font-size: 27px;
            padding-top: 52px;
          }
          
          

          .light-green-span{
            color:$light-green;
            @include sp{
              display: block;
            }
          }/*light-green-span*/
        }/*h2*/

        .service-inner{
          display: flex;
          flex-wrap: wrap;
          max-width: 1000px;
          margin: 0 auto;
          width: 100%;
          justify-content: center;
          padding-top: 72px;

          @include sp{
            padding-top: 36px;
          }

          .inner-item{
            text-align: center;
            margin: {
              right: 40px;
              left: 40px;
              bottom: 44px;
            }

            @include tab{
              margin-right: 15px;
              margin-left: 15px;
              margin-bottom: 32px;
            }
  

            .item-text{
              font-size: 15px;
              font-weight: bold;
              background-color: $light-green-second;
              width: 190px;
              height: 71px;
              color: white;
              border-radius: 32px;
              position: relative;
              display: -webkit-flex;
              display: flex;
              -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
              align-items: center; /* 縦方向中央揃え */
              -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
              justify-content: center; /* 横方向中央揃え */ 
              margin: 0 auto;

              @include sp{
                font-size: 10px;
                height: 45px;
                width: 135px;
              }

            }/*item-text*/

            .item-text:before {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -15px;
              border: 15px solid transparent;
              border-top: 15px solid $light-green-second;

              @include sp{
                margin-left: -6px;
                border: 6px solid transparent;
                border-top: 6px solid $light-green-second;
              }
            }

            .item-logo{
              width: 111px;
              height: 97px;
              margin-top: 28px;
              @include sp{
                width: 74px;
                height: 65px;
              }
            }/*item-logo*/

            .service-name{
              margin-top: 23.6px;
              font-weight: bold;
              font-size: 20px;
              color: #093E23;
              @include sp{
                font-size: 14px;
                margin-top: 13px;
              }
            }

            #logo3{
              height: 93px;
              width: 153px;
              @include sp{
                width: 104px;
                height: 63px;
              }
            }

            #logo4{
              width: 125px;
              height: 109px;
              @include sp{
                width: 83px;
                height: 72px;
              }
            }

            #logo5{
              height:113px;
              width: 135px;
              @include sp{
                width: 90px;
                height: 76px;
              }
            }

          }/*innner-item*/

        }/*service-inner*/

      }/*service-box*/
    }/*wrapper*/
  }/*service*/



  .market-section{
    padding-top: 89px;
    position: relative;

    @include sp{
      padding-top: 76px;
    }

    .market-title-block{
      text-align: center;

    .market-title{
      display: inline-block;
      margin: 0 auto;
      font-size: 34px;
      padding-bottom: 17.5px;
      letter-spacing: 3.4px;
      color: $sick-green;
      position: relative;
      
      @include sp{
        font-size: 20px;
      }

    }/*market-title*/

    .market-title:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0px; /*下線の上下位置調整*/
      display: inline-block;
      width: 147.5px; /*下線の幅*/
      height: 3px; /*下線の太さ*/
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%); /*位置調整*/
      background-color: #0C9B43; /*下線の色*/
      @include sp{
        width: 64px; /*下線の幅*/
      }
    }
  }/*market-title-block*/

  .chart-section{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between; /* 横方向中央揃え（Safari用） */
    justify-content: space-between; /* 横方向中央揃え */ 
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 100px;

    @include pc{
      width: 95%;
      -webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
    }
    @include sp{
      display: block;
      padding-bottom: 10px;
      margin-top: 98px;
    }
    .chart-box{
      width: 312px;
      height: 318px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      position: relative;
      padding: 65px 26px 26px;

      @include pc{
        max-width: 312px;
        width: 95%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
      }
      @include tab{
        padding: 45px 26px 26px;
      }
    @include sp{
      max-width: 312px;
      height: 318px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 55px;
    }
      .chart-text{
        font-size: 20px;
        font-weight: bold;
        background-color: $light-green-second;
        width: 210px;
        height: 51px;
        color: white;
        border-radius: 32px;
        position: absolute;
        top: -1%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */ 
        margin: 0 auto;   
        letter-spacing: 1.2px;
        
        @include pc{
          width: 140px;
          height: 40px;
        }

        @include tab(){
          width: 80%;
          height: 50px;
        }
        @include sp(){
          width: 210px;
          height: 51px;
          font-size: 20px;
        }

      }/*item-text*/


      .chart-text:before {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        margin-left: -15px;
        border: 15px solid transparent;
        border-top: 15px solid $light-green-second;
        border-radius: 4px;
      }

      .chart{
        width: 260px;
        height: 227px;

        @include pc{
          width: 95%;
          height: auto;
        }

        @include sp{
          width: 100%;
          height: auto;
        }

      }



    }/*box*/
  }/*chart-section*/
}/*.market-section*/


.market-section:before {
  content: "";
  position: absolute;
  top: 99%;
  left: 44%;
  margin-left: -15px;
  border: 100px solid transparent;
  border-top: 58px solid white;

  @include sp{
    left: 50%;
    margin-left: -75px;
    border: 82px solid transparent;
    border-top: 40px solid white;
  }
}
.market-section-second{
  .market-second-top{
    height: 795px;
    background-color: $light-green-second;
    padding-top: 108px;

    @include sp{
      height: 1070px;
      padding-top: 63px;
    }

    .chart-box-second{
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      background-color: #FFFFFF;
      box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.05);

      padding: {
      top: 97px;
      bottom: 110px;
    }

    @include pc{
      width: 95%;
      padding-bottom: 49px;
      padding-top: 63px;
    }


    .market-second-title-block{
      text-align: center;

    .market-second-title{
      display: inline-block;
      margin: 0 auto;
      font-size: 34px;
      padding-bottom: 17.5px;
      color: $sick-green;
      position: relative;
      letter-spacing: 1.7px;

      @include sp{
        font-size: 20px;
        letter-spacing: 0.5px;
      }
    }/*company-info-title*/


    .market-second-title:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0px; /*下線の上下位置調整*/
      display: inline-block;
      width: 147.5px; /*下線の幅*/
      height: 3px; /*下線の太さ*/
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%); /*位置調整*/
      background-color: #0C9B43; /*下線の色*/
      @include sp{
        width: 64px;
      }
    }


  }

  .chart-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 831px;
    width: 100%;
    margin-bottom: 66px;
    margin-top: 71.5px;

    @include pc{
      width: 95%;
      height: auto;
    }

    @include sp{
      display: block;
      margin-top: 50px;
      margin-bottom: 50.3px;
    }


    .chart-box{
      max-width: 382px;
      width: 100%;
      text-align: center;

      @include pc{
        width: 95%;
        height: auto;
      }
      @include sp{
        margin: 0 auto;
        margin-bottom: 50px;
      }
      .chart-text{
        font-size: 20px;
        font-weight: bold;
        background-color: #FF9D00;
        width: 313px;
        height: 51px;
        color: white;
        border-radius: 32px;
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */ 
        margin: 0 auto;  
        letter-spacing: 0.4px;

        @include pc{
          max-width: 280px;
          width: 95%;
        }

        @include sp{
          width: 256px;
          font-size: 16px;
          height: 41px;
        }
        
      }/*item-text*/


      .chart-text:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -15px;
        border: 15px solid transparent;
        border-top: 15px solid #FF9D00;
      }

      .chart{
        width: 382px;
        height: 214px;
        margin-top: 19px;
        @include pc{
          width: 95%;
          height: auto;
        }
        @include tab{
          width: 85%;
        }
        @include sp{
          max-width: 310px;
          width: 100%;
        }
      }

    }/*box*/
  }/*wrapper*/

.market-second-text{
  font-size: 49px;
  color: #093E23;
  margin-bottom: 76px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2.45px;

  @include tab{
  font-size: 40px;
  }
  @include sp{
    font-size: 23px;
    margin-bottom: 37px;
    letter-spacing: 1.5px;
  }

  .light-green-span{
    color:$light-green-second;
  }/*light-green-span*/

  .font-small{
    font-size: 38px;
    @include tab{
      font-size: 32px;
      }
      @include sp{
        font-size: 18px;
      } 
  }
}
  .contact-button{
    width:364px;
    margin: 0 auto;
    
    @include sp{
      max-width:329px;
      width: 100%;
      height: 64px;
    }

    .arrow{
      display: block;
      padding: 23px 0px 22px 44px;
      background: linear-gradient(to right, #FF8900,#FFC400);
      color: white;
      font-size: 20px;
      border-radius: 40px;
      position: relative;
      letter-spacing: 0.13em;
      font-weight: bold;

      @include sp{
        font-size: 18px;
      }

      &:hover{
        opacity: 0.8;
        transition: 0.3s;
      }/*hover*/

    }

    .arrow::after {
      content: '';
      display: block;
      width: 8px; /* 矢印の大きさの指定 */
      height: 8px; /* 矢印の大きさの指定 */
      border-top: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
      border-left: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
      transform: rotate(135deg); /* 矢印の角度の指定 */
      position: absolute; /* 矢印の位置の指定 */
      right:40px; /* 矢印の位置の指定 */
      top: 31.8px; /* 矢印の位置の指定 */ 
    }
  }



}/*chart-box-second*/
  }/*top*/

  .chart-under-wrapper{
  }

  

}/*second*/


.maas-container{
  display: flex;
  margin-top: 400px;
  position: relative;
  padding-bottom: 82px;

  @include pc{
    margin-bottom: 260px;
  }

  @include tab{
    margin-top: 360px;
    padding-bottom: 38px;
  }


  @include sp{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FAFAFA;
    display: block;
  }

  .maas-box{
    background-color: #FAFAFA;
    width: 772px;


    padding: {
      top: 116px;
      bottom: 116px;
      left: 198px;
    }


    @include pc{
      padding: {
        top: 90px;
        bottom: 90px;
        left: 170px;
      }
    }


    @include tab{
      width: 100%;
      padding: {
        top: 60px;
        bottom: 60px;
        left: 160px;
      }
    }

    @include sp{
      text-align: center;
      padding: {
        top: 63.3px;
        bottom: 60px;
        left: 0px;
      }
    }

    .maas-img{
      width: 446px;
      height: 293px;
      @include pc{
        width: 380px;
        height: auto;
      }
      @include sp{
        width: 278px;
        height: auto;
      }
      
      
    }/*maas*/

  }/*mass-box*/

  .mass-text-block{
    position: absolute;
    left: 49%;
    top: 28%;

    @include pc{
      top: 75%;
      left: 30%;
    }
    @include tab{
      top: 110%;
      left: 50%;
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      width: 540px;  
    }

    @include sp{
      position: initial;
      width: 100%;
      background-color: #FAFAFA;
      top: initial;
      left: initial;
      -webkit-transform : initial;
      transform : initial;
    }
  
    
  

    .main-text{
      color: #093E23;
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 33px;
      line-height: 1.4;

      @include sp{
        font-size: 21px;
        text-align: center;
        margin-bottom: 28px;
      }
      
      .light-green-span{
        color: $light-green-second;
      }

      .br_sp{

      }

    }/*mass-text*/

    .text-part{
      color: #414141;
      line-height: 1.8;
      font-size: 18px;
      @include sp{
        font-size: 15px;
        display: flex;
        justify-content: center;  
        width: 95%;
        margin: 0 auto;
      }

      @include sp-second(){
        max-width: 330px;
        width: 100%;
      }

      br{
        display: block;
        @include sp-second(){
          display: none;
        }
      }
    }/*text-part*/
  }/*mass-text-block*/
}/*maas-container*/
.work-container{
  background-image: url(../img/background-img-green.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  height: 698px;
  position: relative;
  z-index: 1;

  @include sp{
    background-image: url(../img/background-img-green-sp.png);
    background-size: 100% 100%;
  }

  .work-title{
    font-size: 34px;
    color: white;
    padding-top: 109px;
    padding-bottom: 50px;
    text-align: center;
    z-index: 3;
    position: relative;

    @include tab{
      padding-top: 56px;
      padding-bottom: 36.4px;  
    }

    @include sp{
      font-size: 28px;
    }

    .br_sp{
      display: none;
      @include sp{
        display: block;
      }
    }
  }

  .work-type{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;

    @include tab{
      max-width: 900px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .work-item{
      max-width: 236.19px;
      width: 100%;
      height: 92px;
      background-color: #FFFFFF;
      border-radius: 6px;
      text-align: center;
      position: relative;
      margin-bottom: 34px;

      @include pc{
        width: 24vw;
        height: 8vw;
      }

      @include tab{
        width: 160px;
        margin: 0px 6.4px 12.1px;
        height: 62px;
      }

      .work-name{
        color: #414141;
        font-weight: bold;
        font-size: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        width: 100%;
        letter-spacing: 1.1px;

        @include pc{
          font-size: 2vw;
        }

        @include tab{
          font-size: 14px;
        }

      }/*name*/

      .number{
        position: absolute;
        top: -10px;
        left: -10px;
        background-color: #093E23;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: white;
        font-size: 16px;

        @include sp{
          width: 20px;
          height: 20px;
          line-height: 20px; 
          font-size: 10px; 
        }
      }/*number*/
    }/*work-item*/
  }/*type*/
  .work-title-block{
    text-align: center;
    position: relative;
    z-index: 3;

    .work-title-bottom{
      font-size: 38px;
      font-weight: bold;
      border-bottom: 4px solid #FFFFFF;
      padding-bottom: 2px;
      display: inline-block;
      color: white;
      margin-top: 20.8px;
      letter-spacing: 1.9px;
      @include sp{
        font-size: 33px;
        line-height: 1.4;
      }

      .work-span{
        font-size: 49px;
        font-weight: 900;
        @include sp{
          font-size: 43px;
        }
      }/*work-span*/

      .sp_br{
        display: none;
        
        @include sp{
          display: block;
        }
      }
    }/*title*/
  }/*block*/
}/*work-container*/




.group{
  background-color: #FAFAFA;

  .group-wrap{
    height: 1060px;

    @include sp{
      height: 720px;
    }

    @include sp-second(){
      height: 570px;
    }
    
    .group-top-title{
      font-size: 41px;
      color: $sick-green;
      text-align: center;
      line-height: 1.3;
      background-color: white;
      padding-top: 52px;
      padding-bottom: 87px;

      @include sp{
        font-size: 25px;
        padding-top: 24px;
      padding-bottom: 38px;
      }
      .br_sp{
        display: none; 
        @include sp{
          display: block;
        }
      }
      .color-text{
        color: $light-green;
        font-size: 53px;
        font-weight: 900;

        @include sp{
          font-size: 32px;
        }
      }
    }
    .group-title-block{
      text-align: center;
      padding-top: 108px;
      @include sp{
        padding-top: 67px;
      }
    .group-title{
      display: inline-block;
      margin: 0 auto;
      font-size: 34px;
      padding-bottom: 17.5px;
      position: relative;
      color: $sick-green;
      letter-spacing: 3.4px;
      @include sp{
        font-size: 20px;
        padding-bottom: 22.5px;
        letter-spacing: 0.5px;
      }
      .br_sp{
        display: none;
        @include sp{
          display: block;
        }
      }
    }/*company-info-title*/
  .group-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px; /*下線の上下位置調整*/
    display: inline-block;
    width: 147.5px; /*下線の幅*/
    height: 3px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #0C9B43; /*下線の色*/
    @include sp{
      width: 64px; /*下線の幅*/
    }
  }
  }
    .group-box{
      width: 1000px;
      margin: 0 auto;
      height: 750px;
      background-color: white;
      border-radius: 4px;
      padding: 99px 121px 85px;
      margin-top: 84.5px;
      box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.05);
      text-align: center;
      @include pc{
        width: 95%;
        height: auto;
      }
      @include sp{
        margin-top: 48.5px;
        padding: 24.8px 19.8px;
        height: auto;
      }
      .chart{
        width: 725px;
        height: 521px;
        @include pc{
          width: 95%;
          height: auto;
        }
        @include sp{
          width: 100%;
        }
      }
}/*groupt-box*/
  }/*group-wrap*/

}/*group*/

.voice-container{
  margin-top: 400px;
  @include pc{
    margin-top: 300px;
  }
  @include tab{
    margin-top: 180px;
  }
  @include sp{
    margin-top: 190px;
  }
  @include sp-second(){
    margin-top: 220px;
  }
  .voice-title-block{
    text-align: center;
    margin-bottom: 54.5px;
  .voice-title{
    display: inline-block;
    margin: 0 auto;
    font-size: 34px;
    padding-bottom: 17.5px;
    color: $sick-green;
    position: relative;
    letter-spacing: 3.4px;
    @include sp{
      font-size: 20px;
      letter-spacing: 0.5px;
    }
  }/*company-info-title*/

  .voice-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px; /*下線の上下位置調整*/
    display: inline-block;
    width: 147.5px; /*下線の幅*/
    height: 3px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #0C9B43; /*下線の色*/
    @include sp{
      width: 64px; /*下線の幅*/
    }
  }
}
    .voice-block{
      display: flex;
      position: relative;

      @include pc{
        margin-bottom: 400px;
      }
      @include sp{
        margin-bottom: 0px;
      }
      .voice-wrap{
        width: 72.2%/*1039px*/;
        height: 503px;
        background-color: $light-green-second;
        padding: 75px 0px 59px 15.3vw;

        @include pc{
          width: 740px;
        }

        @include tab{
          width: 100%;
        }

        @include sp{
          padding: 42px 0px 49px 0px;
          height: auto;
        }

        .voice-text-block{
          color: white;
          width: 426px;

          @include sp{
            margin: 0 auto;
            width: 100%;
          }

          .voice-text-top{
            font-size: 17px;
            border: 1px solid #ffffff;
            border-radius: 24px;
            width: 419px;
            text-align: center;
            padding: 12px 24px 13px 25px;
            
            @include sp{
              text-align: center;
              padding: 10px 44px 10px 44px;
              border-radius: 35px;
              width: 295px;
              margin: 0 auto;
            }

            .br_sp{
              display: none;
              @include sp{
                display: block;
              }
            }

          }/*top*/

          h3{
            font-size: 34px;
            font-weight: bold;
            letter-spacing: 0.85px;
            padding-top: 21px;
            padding-bottom: 22px;
            @include sp{
              text-align: center;
              font-size: 27px;
            }
          }/*h3*/

          .voice-img_sp{
            display: none;
            @include sp{
              display: block;
              max-width: 330px;
              width: 100%;
              height: auto;
              margin: 0 auto;
              margin-bottom: 23px;
              box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
            }
          }

          .voice-text-bottom{
            font-size: 17px;
            line-height: 2.1;
            @include sp{
              font-size: 15px;
              max-width: 330px;
              margin:0 auto;
            }
          }/*.voice-text-bottom*/

        }/*voice-text-block*/
      }/*wrap*/

    .voice-img{
      width: 500px;
      height: 369px;
      position: absolute;
      left: 50%;
      top: 14%;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);

      @include pc{
      width: 600px;
    height: auto;
    position: absolute;
    left: 20%;
    top: 95%;
      }

      @include tab{
        width: 80%;
        top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      }
      @include sp{
        display: none;
      }
    }/*img*/
    }/*block*/
    .store-wrap{
      padding-top: 104px;
      padding-bottom: 119px;
      @include sp{
        padding-top: 39px;
        padding-bottom: 68px;
      }
      h2{
        font-size: 48px;
        color: $sick-green;
        text-align: center;
        font-weight: 900;

        @include sp{
          font-size: 29px;
          margin-bottom: 8px;
        }
        .sub-text{
          display: block;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.325px;
        }
      }/*h2*/
      .intro-wrap{
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 59px;

        @include sp{
          display: block;
          margin-bottom: 50px;
        }

        .intro-item{
          text-align: center;


        @include sp{
          margin: 0 auto;
          margin-bottom: 30px;
        }

          .owner{
            width: 318px;
            height: 235px;
            @include pc{
              width: 95%;
              height: auto;
            }

            @include sp{
              max-width: 330px;
              width: 100%;
              height: 235px;
            }
          }/*owner*/

          .location{
            font-size: 17px;
            color: #163522;
            margin-top: 14px;
            letter-spacing: 0.475px;
          }
          
          .owner-name{
            font-size: 19px;
            color: #163522;
            font-weight: bold;
            letter-spacing: 0.475px;
          }

        }/*item*/

      }/*wrap*/

      .contact-button{
        width:364px;
        margin: 0 auto;

        @include sp{
          margin-top: 21px;
          max-width: 329px;
          width: 100%;
        }
    
        .arrow{
          display: block;
          padding: 23px 0px 22px 44px;
          background: linear-gradient(to right, #FF8900,#FFC400);
          color: white;
          font-size: 20px;
          border-radius: 40px;
          position: relative;
          letter-spacing: 0.13em;
          font-weight: bold;

          @include sp{
            font-size: 18px;
          }

          &:hover{
            opacity: 0.8;
            transition: 0.3s;
          }/*hover*/

          
        }
    
        .arrow::after {
          content: '';
          display: block;
          width: 8px; /* 矢印の大きさの指定 */
          height: 8px; /* 矢印の大きさの指定 */
          border-top: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
          border-left: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
          transform: rotate(135deg); /* 矢印の角度の指定 */
          position: absolute; /* 矢印の位置の指定 */
          right:40px; /* 矢印の位置の指定 */
          top: 31.8px; /* 矢印の位置の指定 */ 
        }
      }

    }/*store-warap*/
}/*container*/
.owner-result{
  .owner-result-wrap{
    height: 795px;
    background-color: #FAFAFA;
    padding-top: 108px;
    @include sp{
      padding-top: 76px;
    }
    .ower-result-titlle-block{
      text-align: center;
    .ower-result-title{
      display: inline-block;
      margin: 0 auto;
      font-size: 34px;
      padding-bottom: 17.5px;
      color: $sick-green;
      position: relative;
      @include sp{
        font-size: 20px;
        padding-bottom: 14.5px;
      }
      .br_sp{
        display: none;
        @include sp{
          display: block;
        }
      }
    }/*company-info-title*/
  .ower-result-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px; /*下線の上下位置調整*/
    display: inline-block;
    width: 147.5px; /*下線の幅*/
    height: 3px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #0C9B43; /*下線の色*/
    @include sp{
      width: 64px; /*下線の幅*/
    }
  }
  }
    .chart-box{
      width: 1000px;
      margin: 0 auto;
      background-color: white;
      border-radius: 4px;
      padding: 99px 110px 85px;
      margin-top: 84.5px;
      box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.05);
      text-align: center;
      @include pc{
        width: 95%;
      }
      @include tab{
        padding: 99px 0px 85px;
      }
      @include sp{
      margin-top: 48.5px;
      padding-bottom: 56px;
      }
      .chart{
        width: 747px;
        height: 343px;
        @include pc{
          width: 95%;
          height: auto;
        }
        @include tab{
          width: 80%;
        }
      }
      .chart-sub-text{
        font-size: 24px;
        color: $sick-green;
        font-weight: bold;
        margin-top: 51px;
        background-image: url(../img/bubble_logo.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        .sp_br{
          display: none;
          @include sp(){
            display: block;
          }
        }
        @include tab{
          font-size: 20px;
        }
        @include sp{
          margin-bottom: 13px;
          background-size: 270px;
        }
      }/*sub-text*/
      .chart-main-text{
        font-size: 41px;
        color: $sick-green;
        width: 100%;
        @include tab{
          font-size: 36px;
        }
        @include sp{
          line-height: 1;
          font-size: 47px;
        }
        .br_sp{
          display: none; 
          @include sp{
            display: block;
          }
        }
        .sp_sub_span{
          @include sp{
            font-size: 24px;
          }
        }

        .sub-span{
          color: $light-green-second;
          font-size: 53px;
          @include tab{
            font-size: 43px;
          }
          @include sp{
            font-size: 31px;
          }
        }/*span*/

        .sub-span-second{
          font-size: 108px;
          font-family: 'Roboto Condensed', sans-serif;
          color: $light-green-second;
        }

      }/*chart-main-text*/

      .under-main-text{
        margin-top: 11px;
        font-size: 13px;
        color: #414141;

        .sp_br{
          display: none;
          
          @include sp{
            display: block;
          }
        }/*sp_br*/
      }
}/*chart-box-second*/
  }/*top*/
}/*second*/
.package-container{
  padding-bottom: 158px;
  margin-top: 359px;

  @include tab{
    margin-top: 280px;
    padding-bottom: 120px;
  }

  @include sp{
    margin-top: 125px;
    padding-bottom: 70px;
  }
  
  .package-titlle-block{
    text-align: center;
    margin-bottom: 84.5px;

    @include sp{
      margin-bottom: 39.5px;
    }


  .package-title{
    display: inline-block;
    margin: 0 auto;
    font-size: 34px;
    padding-bottom: 17.5px;
    color: $sick-green;
    position: relative;
    letter-spacing: 0.85px;

    @include sp{
      font-size: 20px;
    }
  }/*company-info-title*/

  .package-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px; /*下線の上下位置調整*/
    display: inline-block;
    width: 147.5px; /*下線の幅*/
    height: 3px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #0C9B43; /*下線の色*/
    @include sp{
      width: 64px; /*下線の幅*/
    }
  }
  

}

.package-list{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  @include pc{
    width: 90%;
  }
    
  .top-title{
    font-size: 24px;
    background-color: $light-green-second;
    padding: 25px 0 22px;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 0.6px;

    @include sp{
      font-size: 20px;
    }
  }/*title*/
  .price-text{
    color: $light-green-second;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    background-color: #F2F2F2;
    padding: 19px 0px 18px;

    @include sp{
      font-size: 28px;
    }

    .en-span{
      font-size: 33px;
      font-family: 'Roboto Condensed', sans-serif;
      @include sp{
        font-size: 25px;
      }
    }

    .number-span{
      font-size: 71px;
      font-family: 'Roboto Condensed', sans-serif;
      @include pc{
        font-size: 7vw;
      }
      @include sp{
        font-size: 55px;
      }
    }
  }/*text*/

  .price-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    @include sp{
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

  

    .price{
      padding: 36px 0px 46px ;

      @include sp{
        padding: 26px 10px 18px ;

      }

      .menu{
        font-size: 18px;
        font-weight: bold;
        color: $sick-green;
        letter-spacing: 0.45px;

        @include tab{
          font-size: 15px;
        }

        @include sp{
          font-size: 14px;
        }
      }/*menu*/

      .price-detail{
        font-size: 46px;
        font-weight: 900;
        font-family: 'Roboto Condensed', sans-serif;
        color: $light-green-second;
        @include pc{
          font-size: 4.8vw;
        }

        @include tab{
          font-size: 4vw;
        }

        @include sp{
          font-size: 33px;
        }

        .yen{
          font-size: 24px;
          @include sp{
            font-size: 17px;
          }
        }/*yen*/
      }/*detail*/


    }/*price*/

    
  }/*price-list*/

  .package-bottom{
    width: 100%;
    padding: 51px 88px 44px;
    background-color: #4B4B4B;
    color: white;
    @include sp{
      padding: 20px 14px 29px;
    }

    .package-bottom-title{
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;

      @include sp{
        font-size: 16px;
      }
    }/*package-bottom-title*/

  .package-bottom-title:before,
  .package-bottom-title:after {
      content: "";
      height: 1px;
      flex-grow: 1;
      background-color: rgb(255, 255, 255);
  }
  
  .package-bottom-title:before {
      margin-right: 19.6px;
  }
  
  .package-bottom-title:after {
      margin-left: 19.6px;
  }

  .first_p{
    margin-right: 22px;
    width: 355px;

    @include sp{
      width: 95%;
    }
  }

  .second_p{
    margin-right: 22px;
    width: 355px;
  }
  

    .first-textare{
      margin-top: 14px;
      display: flex;
      text-align: left;
      font-size: 14px;

      @include sp{
        display: block;
      }

      .category_it{
        font-weight: bold;
        font-size: 16px;
        @include sp{
          margin-top: 12px;
        }
      }

      span{
        @include sp{
          display: block;
        }
      }
    }

    .second-textare{
      margin-top: 9px;
      display: flex;
      text-align: left;
      @include sp{
        display: block;
      }
      .category_it{
        font-weight: bold;
        @include sp{
          margin-top: 12px;
        }
      }
      span{
        @include sp{
          display: block;
        }
      }
    }


  }/*package-bottom*/

.note{
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #414141;

  .br_sp{
    display: none;
    
    @include sp{
      display: block;
    }

  }
}/*note*/


}/*list*/
}/*package-container*/



.model-container{
  background-color: #6FCC1F;
  padding-top: 108px;
  padding-bottom: 117px;

  @include sp{
    padding-top: 74px;
  }

  .model-title-block{
    text-align: center;

  .model-title{
    display: inline-block;
    margin: 0 auto;
    font-size: 34px;
    padding-bottom: 17.5px;
    position: relative;
    letter-spacing: 0.85px;

  @include sp{
    font-size: 20px;
    padding-bottom: 15.5px;
  }

  }/*model-title*/

  .model-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px; /*下線の上下位置調整*/
    display: inline-block;
    width: 147.5px; /*下線の幅*/
    height: 3px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #ffffff; /*下線の色*/
    @include sp{
      width: 64px; /*下線の幅*/
    }
  }

}/*model-title-block*/

h2{
  font-size: 41px;
  color: white;
  text-align: center;
  margin-top: 49.5px;

  @include tab{
    font-size: 4vw;
  }
  @include sp{
    font-size: 29px;
  }

  .br_sp{
    display: none;
    @include sp{
      display: block;
    }
  }
  

  .color-span{
    color: #FFF500;
    font-size: 53px;
    display: block;
    font-weight: 900;
    @include tab{
      font-size: 7vw;
    }
    @include sp{
      font-size: 39px;
    }
  }
}

#model_list_pc{
  display: flex;

  @include sp{
    display: none;
  }

}

#model_list_sp{
  display: none;
  @include sp(){
    display: block;
    padding-bottom: 37px;
    width: 100%;
  }
}

.model-list{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
text-align: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
margin: 0 auto;
max-width: 1000px;
width: 100%;
padding-top: 52px;
overflow: hidden;

@include pc{
  width: 95%;
}

@include sp{
  width: 78%;
  padding-top: 32px;
}

  .model-table{
    width: 311px;
    background-color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 100%;
    height: 554px;


    @include pc{
      width: 32%;
    }

    @include sp{
      width: 80%;
      max-width: 560px;
      margin-right: 25px;
      margin-left:25px;
    }

    @include sp-second(){
      max-width: 279px;
      width: 100%;
      margin-right: 15px;
      margin-left:15px;
    }
    

    .table-title{
      font-size: 24px;
      color: #ffffff;
      height: 126px;
      background-color: #093E23;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;

@include tab{
  font-size: 20px;
}
          
    }/*title*/

    .block{
      max-width: 255px;
      width: 100%;
      margin: 0 auto;

      @include pc{
        width: 95%;
      }
      

      .example{
        font-size: 18px;
        color: #093E23;
        font-weight: bold;
        margin-bottom: 7px;
      }/*example*/

      .main-text{
        font-size: 26px;
        font-weight: bold;
        color: $light-green-second;
        line-height: 1.2;

        @include tab{
          font-size: 23px;
        }

        .price{
          font-size: 36px;
          @include tab{
            font-size: 30px;
          }
        }/*price*/

        .profile{
          font-size: 14px;
          display: block;
        }

      }/*main-text*/
    }/*block*/

    #block1{
      padding: 30px 0px 22px;
      border-bottom: 1px solid#D5D5D5;
    }

    #block2{
      padding: 20px 0px 22px;
      border-bottom: 1px solid#D5D5D5;
    }
    #block3{
      padding: 27px 0 34px;
    }
    #block4{
      padding: 54px 0px 53px;
      border-bottom: 1px solid#D5D5D5;
    }
    #block5{
      padding: 58px 0px 66px;
    }
    #block6{
      padding: 36px 0px 38px;
      border-bottom: 1px solid#D5D5D5;
    }
    #block7{
      padding: 37px 0px 39px;
      border-bottom: 1px solid#D5D5D5;
    }
    #block8{
      padding: 34px 0px 41px;
    }


  }/*table*/
}/*model-list*/
}/*model-container*/
.gallery{
  img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

}


  .company-container{
    .company-inner{
      padding-top: 110px;

      @include sp{
        padding-top: 37.1px;
      }

      .company-top-block{
        text-align: center;
        margin-bottom: 97px;

        @include sp{
          margin-bottom: 60px;
        }

        h2{
          font-size: 46px;

          @include tab{
            font-size: 38px;
          }

          @include sp{
            font-size: 16px;
          }

          .light-green-span{
            color: $light-green-second;
          }

        }/*h2*/

        .middle-text-logo{
          width: 742px;
          height: 52px;
          margin-top: 32.8px;
          margin-bottom: 9.6px;

          @include tab{
            width: 537px;
            height: auto;
          }
          @include sp{
            margin-top: 12.3px;
            width: 277px;
            height: auto;
          }

        }/*middle-text-logo*/

        .bike-logo{
          width: 402px;
          height: 375px;
          display: block;
          margin: 0 auto;
          margin-bottom: 40px; 
          @include tab{
            width: 360px;
            height: auto;
          }   
          @include sp{
            width: 244px;
            height: auto;
          }      

        }

        .support-text{
          font-size: 22px;
          background-color: #093E23;
          border-radius: 10px;
          padding: 13px 32px;
          color: white;
          width: 569px;
          margin: 0 auto;
          font-weight: bold;
          @include tab{
            font-size: 20px;
            width: 540px;
          }  
          @include sp{
            font-size: 14px;
            width: 94%;
            padding: 8px 10px;
          }   
        }/*support-text*/
      }/*top-block*/

      .compay-info{

        .company-info-title-block{
          text-align: center;

        .company-info-title{
          display: inline-block;
          border-bottom: 3px solid #0C9B43;
          margin: 0 auto;
          font-size: 34px;
          padding-bottom: 17.5px;
          color: $sick-green;
          letter-spacing: 0.85px;

          @include sp{
            font-size: 20px;
            padding-bottom: 15.5px;
          }

        }/*company-info-title*/

      }

        .info-table{

        
          .company-table{
            margin: 0 auto;
            max-width: 776px;
            width: 100%;
            margin-top: 90px;
            margin-bottom: 139px;
            border-collapse:collapse;

            @include tab{
              max-width: 786px;
              width: 94%;
            }

            @include sp{
              margin-bottom: 57px;
              margin-top: 44.5px;
            }

         

            tr{
              border-bottom: 1px solid #D5D5D5;  
                         

              th{
                font-size: 15px;
                color: #414141;
                font-weight: bold;
                text-align: left;
                padding-left: 18px;
                padding-right: 52px;
                letter-spacing: 0.375px;

                @include sp{
                  font-size: 12px;
                  padding-right: 0px;
                  padding-left: 23px;
                  width: 90px;
                }

                padding: {
                  top: 21px;
                  bottom: 21px;
                }
              }/*th*/

              td{
                font-size: 15px;
                color: #414141;
                font-size: 15px;
                @include sp{
                  font-size: 12px;
                  padding-left: 29px;
                }

                .sp_br{
                  display: none;
                  @include sp{
                    display: block;
                  }
                }

              }


             
            }/*tr*/

          }/*table*/

        }/*info-table*/

      }/**/





    }/*inner*/
  }/*company-container*/


.form{
  background-color: #FAFAFA;
  padding-top: 110px;
  padding-bottom: 105px;

  @include sp{
    padding-bottom: 69px;
    padding-top: 60px;
  }

  .form-wrapper{
    .form-title-block{
      text-align: center;
      margin-bottom: 92.5px;

      @include sp{
        margin-bottom: 35.5px;
      }

    .form-title{
      display: inline-block;
      margin: 0 auto;
      font-size: 34px;
      padding-bottom: 17.5px;
      letter-spacing: 3.4px;
      color: $sick-green;
      position: relative;
      
      @include sp{
        font-size: 20px;
        letter-spacing: 0.5px;
      }

    }/*market-title*/

    .form-title:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0px; /*下線の上下位置調整*/
      display: inline-block;
      width: 147.5px; /*下線の幅*/
      height: 3px; /*下線の太さ*/
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%); /*位置調整*/
      background-color: #0C9B43; /*下線の色*/
      @include sp{
        width: 64px; /*下線の幅*/
      }
    }

  }/*market-title-block*/


    .form-container{
      max-width: 759px;
      width: 100%;
      margin: 0 auto;

      @include tab{
        width: 88%;
      }

      #text-area-block{
        align-items: initial;
      }

      .input-block{
        margin-bottom: 44px;
        display: flex;
        align-items: center;

        @include tab{
          display: block;
        }

        @include sp{
          margin-bottom: 20px;
        }

        .label{
          font-size: 18px;
          font-weight: bold;
          color: #414141;
          width: 187px;
          margin-right: 50px;
          letter-spacing: 0.45px;

          @include tab{
            width: 300px;
            display: block;
          }
          @include sp{
            font-size: 14px;
          }

          .required{
            font-size: 13px;
            background-color: #0C9B43;
            font-weight: bold;
            padding: 3px 10px 3px 11px;
            line-height: 27px;
            border-radius: 6px;
            color: white;
            margin-left: 10px;
            letter-spacing: 0.325px;
            @include sp{
              font-size: 9px;
            }
          }/*required*/
        }/*label*/

        input{
          border: 1px solid #E8E8E8;
          border-radius: 6px;
          background-color: white;
          height: 55px;
          width: 522px;

          @include tab{
            width: 100%;
            margin-top: 10px;
            height: 47px;
          }

          
        }/*input*/

        #tel_input{
          width: 107px;

          @include sp{
            width: 90px;
          }

        }

        .line{
          margin-right: 13px;
          margin-left: 13px;

          @include sp{
            margin-right: 10px;
            margin-left: 10px;  
          }
        }

        .line_post_code{
          margin-right: 20px;
          margin-left: 20px;
        }/*line_post_code*/


        #rendou{
          width: 308px;
          @include tab{
            width: 100%;
          }

        }

        textarea{
          border: 1px solid #E8E8E8;
          border-radius: 6px;
          background-color: white;
        }/*input*/

        #post_code{
          width: 107px;
          
          @include tab{
            width: 123px;
          }

        }/*post-code*/

        #post_code_2{
          width: 154px;
        }



        #comment{
          width: 522px;
          height: 310px;
          @include tab{
            width: 100%;
            margin-top: 10px;
            height: 277px;
          }
        }
      }/*block*/

      .prsonal-info-title{
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        color: #414141;
        letter-spacing: 0.425px;

        @include sp{
          font-size: 14px;
        }
      }

      .personal-info-box{
        padding: 34px 54px 20px 38px;
        border: 1px solid #E8E8E8;
        border-radius: 6px;
        height: 310px;
        overflow: scroll;
        margin-top: 40px;
        margin-bottom: 87px;

        @include sp{
          margin-bottom: 36px;
        }

        p{
          font-size: 17px;
          color: #414141;

          @include sp{
            font-size: 13px;
          }
        }

        h3{
          font-weight: 900;
          margin-top: 15px;
          margin-bottom: 10px;
          @include sp{
            font-size: 13px;
          }
        }
      }/*personal-info-box*/

      .send-button{
        width:346px;
        margin: 0 auto;
        text-align: center;
      
        @include tab{
          width:330px;
        }
        
        @include sp{
          max-width: 329px;
          width: 100%;
        }
    
        .arrow{
          display: block;
          padding: 23px 0px 22px 0px;
          background: linear-gradient(to right, #FF8900,#FFC400);
          color: white;
          font-size: 20px;
          border-radius: 40px;
          position: relative;
          letter-spacing: 0.13em;
          font-weight: bold;
          
          @include tab{
            padding: 19px 0px 21px 0px;
            font-size:18px;
          }
    
          &:hover{
            opacity: 0.9;
            transition: 0.3s;
          }/*hover*/
    
        }
    
        .arrow::after {
          content: '';
          display: block;
          width: 8px; /* 矢印の大きさの指定 */
          height: 8px; /* 矢印の大きさの指定 */
          border-top: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
          border-left: 2px solid rgb(255, 255, 255); /* 矢印の太さの指定 */
          transform: rotate(135deg); /* 矢印の角度の指定 */
          position: absolute; /* 矢印の位置の指定 */
          right:40px; /* 矢印の位置の指定 */
          top: 31.8px; /* 矢印の位置の指定 */ 
          
          @include sp{
            top:29.7px;
          }
    
        }
      }





    }/*container*/

  }/*wrapper*/
}/*form*/



  footer{
    background-color: #4B4B4B;

    .footer-wrapper{
      text-align: center;
      padding-top: 98.4px;
      padding-bottom: 99px;

      @include sp{
        padding-top: 69.2px;
        padding-bottom: 72px;  
      }
      
      .footer-logo{
        width: 64px;
        height: 64px;
        margin-bottom: 23.6px;
      }

      .footer-logo-text{
        height: 29px;
        width: 365px;
        display: block;
        margin: 0 auto;

        @include sp{
          width: 297px;
          height: auto;
        }
      }/*footer-logo-text*/
      .footer-text{
        color: white;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        margin-top: 5.3px;
        font-size: 22px;
        @include sp{
          font-size: 17px;
        }
      }
    }/*wrapper*/
  }/*footer*/
  
}/*body*/
}/*html*/